<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/normalize.css" />
  <link rel="stylesheet" href="/skeleton.css" />
  <meta charset="UTF-8">
  <title>Budgets</title>
</head>

<body>
  <h1>Budgets</h1>
  <ul>
    <% for(let i=0; i < budget.length; i++) { %>
      <li>
        <a href="/budgets/<%=i%>">
          <%=budget[i].name %>
        </a>
      </li>
      <% } %>
  </ul>
</body>

</html>