<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/normalize.css" />
  <link rel="stylesheet" href="/skeleton.css" />
  <link rel="stylesheet" href="/styles.css">
  <meta charset="UTF-8">
  <title>Budgtr</title>
</head>

<body>
  <h1>Budgtr</h1>
  <table>
    <% for(let i=0; i < budget.length; i++) { %>
      <tr>
        <td>
          <%=budget[i].date%>
        </td>
        <td><a href="/budgets/<%=i%>">
            <%=budget[i].name %>
          </a></td>
        <td>
          <%=budget[i].amount%>
        </td>
        <% } %>
  </table>
  <a class="button button-primary" href="/budgets/new">New Item</a>
</body>

</html>