<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Create a new Budget Entry</title>
  <link rel="stylesheet" href="/normalize.css" />
  <link rel="stylesheet" href="/skeleton.css" />
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>New Budget Entry</h1>
  <form action="/budgets" method="POST">
    <div class="forms">
      Date: <input type="date" name="date" /><br />
      Name: <input type="text" name="name" /><br />
      From: <input type="text" name="from" /><br />
      Amount: <input type="number" name="amount" /><br />
      Tag: <input type="text" name="tags" value="" /><br />
      Tag: <input type="text" name="tags" value="" /><br />
      Tag: <input type="text" name="tags" value="" /><br />
      <input type="submit" value="Create Budget" />
    </div>

  </form>

</body>

</html>